<div class="row">
    <div class="col-sm-20">
        <h1 class="pagetitle" translate lib="web">{{ctrl.model.name}}</h1>
    </div>
</div>
<pre ng-show="ErrorMessage!=null">{{ ErrorMessage }}</pre>
<div ng-show="ctrl.errormessage != ''"" class=" alert alert-danger" role="alert">{{ctrl.errormessage}}</div>
<form ng-submit="ctrl.submit()" class="form-horizontal" role="form" autocomplete="off">
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label" translate lib="web">名称</label>
        <div class="col-sm-4">
            <input ng-model="ctrl.model.name" class="form-control input-md" ng-disabled="ctrl.loading==true" />
        </div>
    </div>
    <div class="form-group">
        <label for="state" class="col-sm-2 control-label" translate lib="web">项目</label>
        <div class="col-sm-4">
            <select class="form-control" id="country" ng-model="ctrl.model.projectid" required="required"
                ng-options="item._id as item.display for item in ctrl.projects | orderBy: 'display'"
                ng-disabled="ctrl.loading==true">
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label" translate lib="web">最大重试次数</label>
        <div class="col-sm-6">
            <input type="number" ng-model="ctrl.model.maxretries" class="input-md" />
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label" translate lib="web">重试延迟</label> seconds
        <div class="col-sm-6">
            <input type="number" ng-model="ctrl.model.retrydelay" class="input-md" />
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label" translate lib="web">初始化延迟</label> seconds
        <div class="col-sm-6">
            <input type="number" ng-model="ctrl.model.initialdelay" class="input-md" />
        </div>
    </div>
    <div class="form-group">
        <label for="state" class="col-sm-2 control-label" translate lib="web">工作流</label>
        <div class="col-sm-4">
            <select class="form-control" id="country" ng-model="ctrl.model.workflowid" required="required"
                ng-options="item.projectandname as item.display for item in ctrl.workflows | orderBy: 'display'"
                ng-disabled="ctrl.loading==true">
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="state" class="col-sm-2 control-label" translate lib="web">机器人/职能</label>
        <div class="col-sm-4">
            <select class="form-control" id="country" ng-model="ctrl.model.robotqueue" required="required"
                ng-options="item._id as item.display for item in ctrl.users | orderBy: 'display'"
                ng-change="ctrl.loadselects()"
                ng-disabled="ctrl.loading==true">
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="state" class="col-sm-2 control-label" translate lib="web">高级消息队列</label>
        <div class="col-sm-4">
            <select class="form-control" id="country" ng-model="ctrl.model.amqpqueue" required="required"
                ng-options="item.name as item.display for item in ctrl.amqpqueues | orderBy: 'display'"
                ng-disabled="ctrl.loading==true">
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" ng-disabled="ctrl.loading==true" class="btn btn-success" translate
                lib="web">保存</button>
        </div>
    </div>
    <div class="form-group">
        <label for="state" class="col-sm-2 control-label" translate lib="web">已成功，推送</label>
        <div class="col-sm-4">
            <select class="form-control" id="country" ng-model="ctrl.model.success_wiqid" required="required"
                ng-options="item._id as item.display for item in ctrl.workitemqueues | orderBy: 'display'"
                ng-disabled="ctrl.loading==true">
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="state" class="col-sm-2 control-label" translate lib="web">已失败，推除</label>
        <div class="col-sm-4">
            <select class="form-control" id="country" ng-model="ctrl.model.failed_wiqid" required="required"
                ng-options="item._id as item.display for item in ctrl.workitemqueues | orderBy: 'display'"
                ng-disabled="ctrl.loading==true">
            </select>
        </div>
    </div>


</form>