<div class="starter-template">
    <h1>易豹数字化机器人控制台</h1>
    <p class="lead"></p>
</div>

<pre>{{ ctrl.message }}</pre>
<div ng-show="ctrl.errormessage != ''"" class=" alert alert-danger" role="alert">{{ctrl.errormessage}}</div>
<a href ng-click="ctrl.settimeframe(0, 1, '1 hour')">1 小时</a>
<a href ng-click="ctrl.settimeframe(0, 6, '6 hour')">6 小时</a>
<a href ng-click="ctrl.settimeframe(1, 0, '1 day')">1 天</a>
<a href ng-click="ctrl.settimeframe(7, 0, '7 days')">7 天</a>
<a href ng-click="ctrl.settimeframe(30, 0, '30 days')">30 天</a><br />

<div ng-repeat="chart in ctrl.charts">
    <div>{{chart.heading}}</div>
    <!-- style="width: 500px" -->
    <div style="max-width: 600px;">
        <canvas id="bar" class="chart-base" chart-type="chart.charttype" chart-data="chart.data"
            chart-labels="chart.labels" chart-series="chart.series" chart-click="chart.click"
            chart-colors="chart.colors">
        </canvas>
    </div><br>
</div>